.button-container {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container > div:first-child,
.button-container > div:last-child {
  display: flex;
  flex: 1;
}

.button-container > div:first-child {
  justify-content: flex-end;
}

.button-container > div:last-child {
  justify-content: flex-start;
}
