section#gallery {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section#gallery img {
  cursor: pointer;
  margin: 0 1rem 2rem;
}

section#gallery img:hover {
  opacity: .85;
}
