@import '../../../node_modules/croppie/croppie.css';


.img-cropper {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
}

.img-cropper .cancel {
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: right;
}


.img-cropper > .button-container {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cropper > .button-container > button.crop {
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: rgb(83, 82, 237);
  color: white;
  font-weight: 700;
}

.img-cropper > .button-container > button.crop:active {
  opacity: .75;
}
