.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  text-align: center;
  min-height: 100vh;
}

.App-header {
  position: relative;
  box-sizing: border-box;
  padding-top: 2rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.success {
  color: rgb(88, 177, 159)!important;
}

.danger {
  color: rgb(179, 55, 113)!important;
}

.fade-in-up {
  -webkit-animation: fadeInUp 1s ease;
  animation:         fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

