@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

:root {
  --color-primary: rgb(112, 161, 255);
}

* {
  color: var(--color-primary);
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  font-weight: 700;
  color: #a6a6a6;
  cursor: pointer;
  padding: 10px 40px;
  border: 1px solid #dddddd;
  outline: none;
  border-radius: 50px;
  background-color: transparent;
}

button:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
}

.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

