#nav {
  box-sizing: border-box;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav ul li {
  display: flex;
}

#nav ul li:not(:last-child) {
  margin-right: 2rem;
}
